@use './mixins/border' as *;
.b-0{
    @include border(border,0px,var(--gray-400) !important);
}
.bl-0{
    border-left: none !important;
}
.br-0{
    border-right: none !important;
}
.br-4{
    border-radius: 4px !important;
}
.bt-0{
    border-top: none !important;
}
.bb-0{
    border-bottom: none !important;
}
.b-1 {
    @include border(border,1px,var(--gray-400) !important);
}
.b-2 {
    @include border(border,2px,var(--gray-400) !important);
}
.b-4 {
    @include border(border,4px,var(--gray-400) !important);
}
.b-8 {
    @include border(border,8px,var(--gray-400) !important);
}