@use './mixins/border' as *;

/* css3 variable & sass variables */
:root {
  //font-size: 16px;
  --font-stack-en: "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-hi: "Noto Sans Devanagari", "Noto Sans", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-ur: "Noto Sans", "Noto Nastaliq Urdu", "Noto Sans Devanagari",
    "Noto Sans Tamil", "Noto Sans Bengali", "Noto Sans Malayalam",
    "Noto Sans Gurmukhi", "Noto Sans Gujarati", "Noto Sans Telugu",
    "Noto Sans Kannada", "Noto Sans Oriya", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  // fonts
  --font-default-size: 0.875rem;
  --font-size-base: var(--font-default-size); // 14px Assumes the browser default, typically `16px`
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-base: var(--font-weight-normal);
  --line-height-value : 1.61803398875;
  --line-height-base: calc(var(--font-size-base) * var(--line-height-value));
  --h1-font-size: 2rem; // 32px
  --h2-font-size: 1.75rem; // 28px
  --h3-font-size: 1.5rem; // 24px
  --h4-font-size: 1.2rem; // 20px
  --h5-font-size: 1rem; // 16px
  --h6-font-size: var(--font-size-base); // 14px
  --font-size-lg: var(--h4-font-size); //20px
  --font-size-md: var(--h5-font-size); // 16px
  --font-size-normal: var(--font-size-base); // 14px
  --font-size-sm: 0.75rem; // 12px
  --font-size-xs: 0.625rem; // 10px
  --p-font-size: var(--font-size-base); //14px

  // base variables
  --base-font-size: 0.875rem;
  --base-block-space: 0.5rem; //8px,
  --icon-svg-xxs: 0.75rem;
  --icon-svg-xs: calc(var(--base-block-space) * 2);
  --icon-svg-sm: calc(var(--base-block-space) * 3);
  --icon-svg-md: calc(var(--base-block-space) * 4);
  --icon-svg-lg: calc(var(--base-block-space) * 5);
  --icon-svg-xl: calc(var(--base-block-space) * 6);

}